<h1>Hello {{name() }}</h1>
<h2>{{title}}</h2>

<h1>If</h1>

<input type="text" [value]="name()" (change)="changeHandler($event)">
<input type="number" [value]="age()" (change)="changeAge($event)">

<h2>old</h2>

@if (name() == 'cristian') {
<div>hola soy cristian</div>
}
@if (age() >= 18 ) {
<strong>hola soy cristian y soy mayor de edad</strong>
} @else {
<small>hola soy cristian y soy menor de edad</small>
}

<h2>new</h2>
@if (name() == 'cristian') {
<div>hola soy cristian</div>
}


@if( age() >= 18){
<strong>hola soy cristian y soy mayor de edad</strong>
}@else{
<small>hola soy cristian y soy menor de edad</small>
}

<h1>For</h1>

<h2>old</h2>
<ul>
  @for (task of tasks(); track task; let i = $index) {
  <li>
    {{ i }} {{task}}
  </li>
  }
</ul>

<h2>new</h2>
<ul>
  @for (task of tasks(); track task; let i = $index) {
  <li>
    {{ i }} {{task}}
  </li>
  }@empty {
  <li> <strong>la lista está vacía</strong></li>
  }
</ul>


<h1>switch</h1>


<h2>old</h2>

@switch(name()){
@case ('nicolas') {
<div>Hola Nicolas</div>
}
@case ('cristian') {
<div>Hola Cristian</div>
}
@case ('camilo') {
<div>Hola Camilo</div>
}
@default {
<div>Hola desconocido</div>
}
}

<h2>new</h2>

@switch (name()) {
@case ('nicolas') { <div>Hola Nicolas</div> }
@case ('cristian') { <div>Hola Cristian</div> }
@case ('camilo') { <div>Hola Camilo</div> }
@default { <div>Hola desconocido</div> }
}

<input type="color" [formControl]="colorControl">

<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"></rect>
  </g>
</svg>
